body {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    font-size: 17px;
    border: 2px solid #191970;
    padding: 05px 05px 05px 05px;
    background-color: lightgray;
    font-family: 'Times New Roman';
}

form {
    margin: 0 220px;
    color: white;
    background-color: black;
    padding: 30px 25px;
    border-radius: 5px;
}


    form .input-block {
        margin-bottom: 3px;
    }
        form .input-block input {
            margin-top: 8px;
            padding: 7px;
            font-size: 14px;
            color: #FF0000;
            border-radius: 2px;
            border: 1px solid #ccddef;
            outline-color: #7159c1;
    }

nav{
    text-align: center;
}

footer{
    text-align: center;
}
