h1 {
    color: darkred
}

p {
    text-align: left;
    opacity: 1;
}

body {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    font-size: 16px;
    border: 2px solid #191970;
    padding: 05px 05px 05px 05px;
    background-color: lightgray;
    font-family: 'Times New Roman';
}

a:link { /*link não visitado*/
    color: darkred;
    text-decoration: none;
}

a:visited { /*link visitado*/
    color: darkred;
    text-decoration: none;
}

a:hover { /*Quando o mouse ficar em cima*/
    color: darkblue;
    text-decoration: none;
}

nav {
    font-weight: bolder;
    color: darkred;
}

footer {
    font-weight: bolder;
    color: darkred;
}

